# pg_hba.conf file - Managed by Ansible

{% for login in pgsql_hba_clients %}
{{ login.type }} {{ login.database }} {{ login.user }} {{ login.address|default('') }} {{ login.ip_address|default('') }} {{ login.ip_mask|default('') }} {{ login.auth_method }} {{ login.auth_options|default("") }}
{% endfor %}
